body{
    margin: 0 auto;
    padding: 0;
    word-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    background-color: #004643;
    align-items: center;
    width: 100%;
    height: 12vh;   
}



.logo {
    margin-left: 2%;
    width: 15%;
    height: auto;
    font-size: 40px;
}

.index {
    flex-flow: row nowrap;
    color: #fffffe;
    
    
}

.menuSite-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 100%
}

.menuSite-nav a {
    color: #fffffe;
    width: 65%;
    font-size: 20px;
    
}

.menuSite-nav a:hover {
    color: rgb(219, 219, 4);
}

.galeriaFotosPets-div {
    background-color: #abd1c6;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    
}



.galeriaFotosPets-div h1 {
    align-self: center;
}



.galeriaFotosPets-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
}

.fotosPets-a {
    margin: 0.5%;
    color: #004643;
    text-decoration: none;
    width: 24%;
    height: 45%;
    border-width: 1px;
    border-radius: 0.2cm;
    box-shadow: 0 0 0.3em #004643;
    
}


.fotosPets-a:nth-child(1) {
    background-image: url(./fotos-pets/dog-gaf0163fee_1920.jpg);
    background-size: cover;
    
    
}

.fotosPets-a:nth-child(2) {
    background-image: url(./fotos-pets/dog-gc145be2aa_1920.jpg);
    background-size: cover;
}

.fotosPets-a:nth-child(3) {
    background-image: url(./fotos-pets/pet-gdba972121_1920.jpg);
    background-size: cover;
}

.fotosPets-a:nth-child(4) {
    
}

.fotosPets-a:nth-child(5) {
    
}

.fotosPets-a:nth-child(6) {
    
}

.fotosPets-a:nth-child(7) {
    
}

.fotosPets-a:nth-child(8) {
    
}

.fotosPets-a:nth-child(9) {
    
}


.galeriaFotosPets-div button {
    width: 15%;
    align-self: center;
    height: 10%;
    flex-wrap: nowrap;
    border-radius: 0.5cm;
    font-size: 120%;
    text-decoration: none;
}









@media (max-width: 320px) { 
    .logo {
        display: none;
    }

    .menu nav {
        display: flex;
        flex-direction: column;
        line-height: 100%;
    }


}

@media (min-width: 750px) {
 .index:hover {
    
        font-size: larger;
        color: rgb(219, 219, 4);
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    background-color: #00D861;    
}

.menu nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.menu nav a {
    color: black;
    
}


#img-fundo {
    width: 98.785vw !important;
    height: 100vh !important;
    z-index: -1;
    position: fixed;
}

#quemsomos {
    width: 75%;
    margin: auto;
}

#quemsomos h1, p {
    color: white;
}

#secao1 {
    display: flex;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    justify-content: space-around;
    
    
}

#quemsomos h1:hover {
    color: #00D861
}


#div2, #div1 {
    display: flex;
    width: 25%;
    margin: 0 auto;
    flex-direction: column;
    
    
    
}

#secao1 #div2:hover, #secao1 #div1:hover {
    border-style: solid;
    border-radius: 1cm;
    border-color: #00D861;
    border-width: 0.1px;
    box-shadow: 0 0 1em #00D861;
   
    
}

#secao2 {
    width: 45%;    
    margin: auto;
}

#secao2 p {
    color: white;
}

footer {
    background-color: #00D861;
    text-align: right; 
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0% auto;
    

     
     
}

footer p {
    font-size: 15px;
    margin : 0% auto;
    padding-right: 1%;
}





